body {
	
}

#results {
  border:dashed 1px grey;
	width:300px;
	height:300px;
    clear:both;

}

#resultsBox{
    border:dashed 1px red;
        width:300px;
    height:300px;
}


#runExperiments{
	border:solid 1px grey;
	clear:both;
}
button {
	cursor: pointer;
}

#new{
	
	margin-top:20px;
}

.search-attempts-log {
    overflow: hidden;
}

.search-attempts-log h3, .search-attempts-log ol {
    display: inline-block;
}

.search-attempts-log h3 {
    margin-right: 10px;
    margin-bottom: 0;
}

.search-attempts-log ol {
    list-style: none;
    padding-left: 0;
    display: inline;
}

.search-attempts-log li {
    display: inline-block;
    margin: 4px 8px 4px 0;
    padding: 8px 15px;
    background: limegreen;
    color: white;
    border-radius: 100px;
}
#inputs{
   padding:30px;
    width: 45%;
    margin-right: 30px;
    float: left;
}
#results-wrapper{
	border:solid 1px grey;
	background-color:#F0F0F0;
	padding:30px;
    width: 45%;
    margin-right: 30px;
    float: left;
}
.result {
    border: 1px solid grey;
    color: grey;

    width: 250px;
    background-color: lightgrey;
    padding:10px;
}

#new{
  position:relative;
}

input, .result{

}
label{
text-align: right;

}
.line-item{
	
	margin:15px 0px;

}

.button-green {
    background-clip: padding-box;
    background-color: #89BF42;
    border-radius: 3px;
    box-shadow: 0 3px 0 #5D901A;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: 'proxima-nova',arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 2px;
    padding: 5px 16px 4px;
}

.button-blue {
    background-clip: padding-box;
    background-color: #00A4E7;
    border-radius: 3px;
    box-shadow: 0 3px 0 #007AAC;
    color: #FFFFFF !important;
    display: inline-block;
    font-family: 'proxima-nova',arial,helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 18px;
    margin-top: 2px;
    padding: 5px 16px 4px;
}





/*
    cell styles
*/

.cell-parent {
    padding: 0;
    list-style: none;
    border: 2px inset #ccc;
    overflow: hidden;
}


/* LIs are cells */
.cell-parent li {
    width: 24px;
    height: 24px;
    float: left;
    border: 2px outset #ccc;
    text-align: center;
    line-height: 22px;
    cursor: default;
    background: #e7e7e7;
    box-sizing: border-box;
}

/* fatty acid */
.cell-parent li.fatty-acid {
    background: red;
}

/* fatty acid being searched */
.cell-parent li.searching {
    background: yellow;
}

/* found fatty acid */
.cell-parent li.fatty-acid.searching {
    background: limegreen;
}